body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

p {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.top-items {
    color: white;
    text-align: center;
    padding: 100px;
}

.top-items p {
    margin-bottom: 40px;
}
.link-button {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    background-color: tomato;
    padding: 12px 20px;
    border-radius: 5px;
}

.donate-amount-section {
    margin-bottom: 120px;
}

.align-center {
    text-align: center;
}

.flexible-container {
    display: flex;
}

.amount-items {
    margin-top: 4%;
    margin-bottom: 50px;
}
.amount-item {
    color: dimgray;
    width: 15%;
    padding-left: 15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #f9f9f9;
    text-align: center;
}

hr {
    width: 50%;
}

.gray-color {
    margin-bottom: 3%;
}

.gray-color p {
    color: #bebbbb;
}
.gray-color hr {
    height: 1px;
    background-color: #dedcdc;
    border: none;
}