body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

p {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.top-items {
    color: white;
    text-align: center;
    padding: 100px;
}

.top-items p {
    color: white;
    margin-bottom: 40px;
}
.link-button {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    background-color: tomato;
    padding: 12px 20px;
    border-radius: 5px;
}

.donate-amount-section {
    margin-bottom: 120px;
}

.align-center {
    text-align: center;
}

p {
    color: dimgray;
}

.flexible-container {
    display: flex;
    
}

.amount-items {
    padding: 29px 272px 39px;   /* top left-right bottom */
}
.amount-item {
    color: dimgray;
    width: 20%;
    margin: 0 11px;
    padding: 8px 1px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 6px;
}

#selected-amount {
    color: tomato;
    border: 2px solid tomato;
    background-color: #fdecef;
}

hr {
    width: 58%;
}

.gray-color {
    margin-bottom: 3%;
}

.gray-color p {
    color: #bebbbb;
}
.gray-color hr {
    height: 1px;
    background-color: #dedcdc;
    border: none;
}

.donate-plan {
    margin-bottom: 120px;
}

.plan-items {
    align-items: center;
    margin: 68px;
}

.plan-item {
    width: 30%;
    height: 300px;
    margin-left: 1.67%;
    margin-right: 1.67%;
    padding: 40px 20px;  /* (top-bottom) (right-left) */
    border-radius: 20px;
}

#food {
    background-color: rgb(228, 240, 249);
}

#shelter {
    background-color: #ffd7de;
}

#education {
    background-color: papayawhip;
}

.updates-section {
    margin-bottom: 120px;
}

.newsletter {
    width: 60%;
    margin: 0 14%;
    margin-top: 40px;
    padding: 72px 70px;
    background-color: papayawhip;
}

input[type=email] {
    width: 30%;
    background-color: #d6d4d4;
    font-size: 15px;
    padding: 15px 30px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -10px;
}

input[type=submit] {
    background-color: tomato;
    font-size: 15px;
    color: white;
    padding: 15px 30px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}